@page
@model AssessmentApp.Pages.TravelPackages.IndexModel

@{
	ViewData["title"] = "Pacotes disponíveis";
}

<h1>@ViewData["title"]</h1>

@if (Model.AvailablePackages.Any())
{
	<ul>
    @foreach (var item in Model.AvailablePackages)
    {
        <li>
            <div>
				<h4>Pacote: @item.Title</h4>
					<p>Data de ida: @item.StartDate.ToString("dd/MM/yyyy")</p>
					<p>Data de volta: @item.EndDate.ToString("dd/MM/yyyy")</p>
				<p>Diária: @item.PricePerDay.ToString("C")</p>
				<p>Total de vagas: @item.CapacityLimit</p>
				<p>VALOR TOTAL: @item.CaculateTotalPrice().ToString("C")</p>
            </div>
           <div>
				<h4>Lista de destinos</h4>
				<ol>
					@foreach (var destination in item.Destinations)
					{
						<li>
							<span>@destination.Name | @destination.CountryName</span>
						</li>
					}
				</ol>
           </div>


				<a asp-page="/Reservations/Create" asp-route-packageId="@item.Id" class="btn btn-primary">Reservar pacote</a>
        </li>
		<br/>
	}
</ul>
}